<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spring has not Come</title>

    <meta property="og:title" content="Spring has not Come">
    <meta property="og:description" content="봄은 오지 않는다...">
    <meta property="og:image" content="/image/ogimage.jpg">

    <!--Bulma import-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">

    <!--    구글폰트-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Gugi&family=Kirang+Haerang&display=swap" rel="stylesheet">

    <!--    favicon & gotag-->
    <link rel="shortcut icon" href="../static/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="../static/images/favicon.ico" type="image/x-icon">

<!--        CSS-->
    <link rel="stylesheet" href="/css/index.css">
<!--    <link rel="stylesheet" href="../static/css/index.css">-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="/js/index.js"></script>

</head>
<body>
<div class="header">
    <div class="logout_btn">
        <span>봄이 오지 않은  <span th:text="${username}"></span> 님</span>
        <form method="post" action="/user/logout">
            <button class="button is-dark">로그아웃</button>
        </form>

    </div>

<!--    상단 배너-->
    <div class="title">
        <h1>Spring has not Come</h1>
        <p>
           <h2>I will freeze to death soon...</h2>
        </p>
        <h2>당신에게 봄이 오지 않은 이유를 서술하시오.(5점)</h2>
    </div>
</div>
<div class="background-body">
    <div class="list">
        <!--글 작성하러 가기 버튼-->
        <div class="posting-btn">
            <a th:href="@{'/post'}"><button class="button is-dark" onclick="writePost()">글쓰기</button></a>
        </div>


        <table class="table">
            <thead>
            <!--       리스트 상단 제목-->
            <tr>
                <th><abbr title="Position">No.</abbr></th>
                <th>글쓴이</th>
                <th>제 목</th>
                <th><abbr title="Points">작성일자</abbr></th>
            </tr>
            </thead>
            <!--리스트-->
            <div>
                <tbody id="content-list">
                <tr>
                    <th>1</th>
                    <td>글쓴이1</td>
                        <td  style="cursor: pointer" class="title_focus" onclick="showPost()">췍췍췍 내 꿈은 체스왕 세계에서 제일 가는 체크라이커</td>
                    <td>2022. 03. 22</td>
                </tr>
                </tbody>
            </div>
        </table>

    </div>

</div>

</body>
</html>